#main-container.container-fluid
  #queue.row-fluid
    .span6.offset3
      Queue

  #player{'ng-controller' => 'PlayerController'}
    #name.row-fluid
      .span12
        {{audio.track.artist}} – {{audio.track.name}}

    #controls.row-fluid
      .span4.offset4
        %a{:href => "#", :id => "btn_previous", 'ng-click' => "previous"}
          %i.icon-fast-backward
        %a{:href => "#", :id => "btn_resume", 'ng-click' => "resume()", 'ng-hide' => 'audio.playing'}
          %i.icon-play
        %a{:href => "#", :id => "btn_pause", 'ng-click' => "pause()", 'ng-hide' => '!audio.playing'}
          %i.icon-pause
        %a{:href => "#", :id => "btn_next", 'ng-click' => "next"}
          %i.icon-fast-forward


    #visualizer.row-fluid
      .span12
        %canvas#fft

    #progress.row-fluid
      .span12
        %canvas#progressbar

  #library.row-fluid
    .span6.offset3
      Library
