#main-container.container-fluid
  #main-row.row-fluid
    <!-- Library -->
    #library.span6
      .container-fluid{'ng-controller' => 'LibraryController'}
        %input{'ng-model' => 'query'}
        %table.table-striped.table-hover
          %thead
            %th
            %th
              Name
            %th
              Artist
          %tr{'ng-repeat' => 'song in songs | filter:query'}
            %td
              =iconlink('addbtn', 'icon-plus-sign', 'addToPlaylist(song.index)')
            %td
              {{song.name}}
            %td
              {{song.artist}}

    <!-- Player -->
    #player.span6
      .container-fluid{'ng-controller' => 'PlayerController'}
        .row-fluid{'ng-controller' => 'PlaylistController', 'ng-show' => 'visible'}
          #playlist.span12
            %h3
              Playlist
            =iconlink('startplaylist', 'icon-play', 'startPlaylist()')
            %table.table-striped.table-hover
              %thead
                %th
                %th
                  Name
                %th
                  Artist
              %tr{'ng-repeat' => 'song in playlist'}
                %td
                  =iconlink('addbtn', 'icon-minus-sign', 'addToPlaylist($index)')
                %td
                  {{song.name}}
                %td
                  {{song.artist}}

        .row-fluid{'ng-controller' => 'EqualizerController', 'ng-show' => 'visible'}
          #equalizer.span12
            %h3
              Equalizer
            %canvas#fft
        .row-fluid{'ng-controller' => 'PlaybackController',}
          #playback.span12
            %h2
              {{song.full_name()}}
            %p
              =iconlink('playlistbtn', 'icon-list', 'showPlaylist()')
              =iconlink('equalizerbtn', 'icon-cog', 'showEqualizer()')
